<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/pygment.css">
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">
    <header>
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <h2 class="title"><a href="/cryptoparty">CryptoParty</a></h2>
      <h2 class="title"><a href="https://www.google.com/calendar/embed?src=c4ervam9s3ep79dtdjd1k9kgbk%40group.calendar.google.com&ctz=America/Chicago">DFW InfoSec Calendar</a></h2>
      <div class="contact">
	<p>
	  <h3>about me</h3>
	  Josh Scott<br />
	  Privacy, Civil Rights, Social Justice, Activism, Hacking, InfoSec, Programming. I do #CryptoParty in DFW.<br />
	  josh@wtftacos.com
	</p>
      </div>
      <div class="contact">
	<p>
	  <a href="https://twitter.com/scottjosh">twitter.com/scottjosh</a><br />
	</p>
      </div>
    </header>
    <section>
      {{ content }}
    </section>
    </div>
  </body>
</html>
